/* Main containers */
body {
	margin: 10px 15px 10px 15px;
}

#footer {
	clear: both;
	color: #CCCCCC;
	text-align: center;
}

/* Components */
#userLink {
	padding: 5px 15px;
}

.userLogo {
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

.userSelect {
	min-width: 180px;
}

.select2-dropdown {
	max-height: 200px;
}

#newGameTable {
	margin-top: 5px;
}

#newGameTable tbody td>input {
	min-width: 85px;
	width: 100%;
}

#saveToDb {
	display: none;
}

#scoreAnomaly {
	color: red;
}

#addFifthPlayerRow button {
	width: 100%;
}

#seasonSelect {
	min-width: 150px;
}

#statSelect {
	min-width: 350px;
}

#profileSubmenu {
	max-width: 200px;
	float: left;
}

#profileContent {
	overflow: hidden;
	padding-left: 20px;
	min-height: 150px;
}

.loadingImage {
	display: none;
	width: 120px;
	height: 120px;
	margin: auto;
}

#inputDisplayName {
	max-width: 250px;
}

/* Login Popup */
#lean_overlay {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}

.popupContainer {
	position: relative;
	display: none;
	width: 190px;
	height: auto;
	margin: auto;
	background: #FFF;
}

.popupHeader {
	background: #EEE;
	font-family: "Lucida Sans Unicode";
	font-weight: bold;
	padding: 5px 10px 5px 10px;
}

.modal_close {
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
	color: #AAA;
	font-size: 1.2em;
}

.modal_close :hover {
	color: #8eede9;
}

.popupBody {
	padding: 5px 10px 5px 10px;
}

#loginError {
	color: red;
}

/* Bootstrap overrides */
.navbar-brand {
	padding: 5px 15px;
}

/* Select2 overrides */

/* SMALL SCREENS */
@media screen and (max-width: 480px) {
	#profileSubmenu {
		max-width: 100%;
		float: none;
	}
	#profileContent {
		padding-left: 0px;
		padding-top: 10px;
	}
}

.table>tbody>tr>td {
	vertical-align: middle;
}